

<div class="jumbotron">

  <h1 class="display-4">{{stock.companyName}} ( {{stock.symbol}})</h1>

 

  <strong>Latest Price:</strong>${{stock.latestPrice}}<br/>
<strong>Previous Close:</strong>${{stock.previousClose}}<br/>
<strong>Percentage Change:</strong>${{stock.changePercent}}%<br/>
<strong>YTD Change:</strong>${{stock.ytdChange}}%<br/>
<strong>High:</strong>{{stock.week52High}}<br/>
<strong>Low:</strong>{{stock.week52Low}}<br/>

<hr class="my-4">
<hr class="my-4">

<br/>

<h4 class="display-4"> For more information about other Companies  !! Read  instructions  below:</h4>

 <strong> If you want Alphabetic,Inc :  Select Search Box type GOOG then click LookUp Button</strong><br/>

<strong> If you want Apple,Inc :  Select Search Box type AAPL then click LookUp Button</strong><br/>


<strong> If you want Tesla,Inc :  Select Search Box type TSLA then click LookUp Button</strong><br/>


<strong> If you want Facebook,Inc :  Select Search Box type FB then click LookUp Button</strong><br/>


<hr class="my-4">

</div>

<!--

<br/> <br/>

{{#each stock}}
    {{@key}} | {{this}} <br/>

 {{/each}} 

 -->  